body {
    margin: 0px auto 0px;
}
img {
    width: 100%;
}
.titolo {
    text-align: center;
    color: white;
    background-color: #a27f00;
    padding: 10px;
    margin: -50px 50px 0px 50px;
    border-radius: 25px;
    box-shadow: -5px 5px 10px black;
}
.li {
    font-weight: bold;
    font-size: larger;
    background-color: #fbe7c3;
    margin: 30px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding-bottom: 30px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
}
.li h3 {
    padding-top: 10px;
    padding-left: 20px;
    margin-top: 30px;
}
.li p, i {
    padding-left: 30px;
}
.li p {
    margin-bottom: -5px;
}
.li i {
    color: #6c6354;
}
.li div {
    margin-left: 20px;
}
